// VARIABLES
$image-width: calc(max(240px,14vw)); // 340px;
$font-family: 'Barlow Semi Condensed', sans-serif;

// ANIMATIONS
@keyframes appear {
    // from {transform:scale(0)}
    // to {transform:scale(1)}
    from { opacity: 0;}
    to { opacity: 1;}
}
@keyframes bounce {
    0%   {
        transform: scale(1);
        top: 0;
    }
    50% {
        transform: scale(1.2);
        top: 20px;
    }
    100%   {
        transform: scale(1);
        top: 0;
    }
}
@keyframes alert {
    0%   {
        transform: scale(1);
        top: 0;
        color: white;
    }
    50% {
        transform: scale(1.4);
        top: 20px;
        color: orange;
    }
    100%   {
        transform: scale(1);
        top: 0;
        color: white;
    }
}

// CSS
html {
    scroll-behavior: smooth;
  }
body {
    background-color: black;
    padding: 1em 2em;
    font-family: $font-family;

    & > section:nth-child(2) {
        animation: appear 1s ease-in;
    }
}

// SECTION AND SECTION HEADING
section {
    padding: 6% 16%;
    transition: opacity 1.4s;

    & > p, & > div > p {
        // font-size: 2.4rem;
        font-size: calc(max(1.6vw, 2.4rem));
        font-weight: 600;
        letter-spacing: 1px;
    }
}

// NAV SECTION
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4em;
    animation: appear 1s ease-in;

    & button {
        border: none;
        color: white;
        background-color: inherit;
        font-weight: 600;
        padding: 1rem;
        transition: 1s border-bottom;
    }
    & button:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
    }
    & button:hover:after {
        width: 100%;
        background: white;
    }
    & button:active, & button:focus {
        outline: none;
    }

    & > p {
        font-family: $font-family;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.4rem;
        letter-spacing: 1px;
    }
}

p {
    color: white;
}
a {
    text-decoration: none;
    color: white;
    target
    &:active, &:focus {
        outline: none;
     }
}

// SVG + INTRO SECTION + HIDDEN CLASS
svg {
    width: 24px;
    height: 24px;
    fill: white;
    color: white;
}
.hidden {
    opacity: 0;
}
.centeredDiv {
    margin: 0 auto;
    width: 50%;
    text-align: center;

    & > svg {
        width: 56px;
        height: 56px;
        position: relative;
        top: 0;
        bottom: 0;
        transition: 1s;
        animation: bounce 3s infinite;
    }
    &:hover svg {
        transform: scale(1.2);
        top: 20px;
        animation: none;
    }
}


// EXPERIENCE AND EDUCATION SECTIONS
#experienceSection, #educationSection, #skillsSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    & > div {
        display: flex;
        justify-content: flex-start;
        width: 420px;
    }
}

.jobDetails, .eduDetails, .skillDetails {
    margin: 1rem 0; //2.0rem 0
    padding: 1rem 3rem;
    position: relative;
    left: 0;
    border: 2px solid black;
    transition: 0.6s;
    & > p {
        font-size: 1.4rem;
        font-weight: 600;
        margin: 0.4rem 0;
    }
    & > p:nth-child(1) {
        text-decoration: underline;
        text-underline-offset: 4px;
    }

    & svg {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        height: 24px;
        width: 24px;
        fill: white;
        color: white;
        margin: 0;
        opacity: 0;
        transition: 0.6s;
        
        &:hover {
            color: #b98c80;
            fill: #b98c80;
        }
    }

    & .none {
        display: none;
    }
    & .shown {
        display: block;
    }
}

// PHOTOS SECTION
.grid-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;

    & img {
        max-width: $image-width;
        transition: 1s;
        margin: 0.3em;
        cursor: pointer;
    }
    & img:hover {
        transform: scale(0.96);
    }
    & img:active {
        transform: scale(1);
        transition: 0s;
    }
}

// CONTACT SECTION
#contact {
    & > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        flex-wrap: wrap;
    }
    & svg {
        width: 36px;
        height: 36px;
        margin: 1rem 4vw; // 6rem
        position: relative;
        transition: 1s;
    }
    & svg:hover {
        transform: scale(1.4);
        margin: 1rem 8vw; // 12rem
    }
    & svg:active {
        transform: scale(1);
        transition: 0s;
    }

}

// MODAL
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);

    & .modal-content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 70%;
        max-width: 700px;
        animation-name: appear;
        animation-duration: 0.8s;
        border-radius: 2px;

        & img {
            width: 100%;
        }
        & p {
            text-align: center;
            color: white;
            font-size: larger;
            font-weight: 600;
        }
    }
    
    // MODAL BUTTONS
    & svg {
        height: 32px;
        width: 32px;

        &.closeButton {
            position: absolute;
            top: 15px;
            right: 30px;
            transition: 0.3s;
        }
        &.prevButton {
            position: absolute;
            top: 45%;
            left: 60px;
            transition: 0.3s;

            &:hover {
                left: 50px;
            }
        }
        &.nextButton {
            position: absolute;
            top: 45%;
            right: 60px;
            transition: 0.3s;

            &:hover {
                right: 50px;
            }
        }
    }
    
    & .closeButton:hover, .prevButton:hover, .nextButton:hover {
        transform: scale(2);
    }
    & .closeButton:active, .prevButton:active, .nextButton:active {
        transform: scale(1);
    }
}


// PROJECTS PAGE
#projectsSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    & > div {
        width: 600px;
        margin: 2em;

        & > img {
            max-width: 100%;
        }
        & > p:nth-child(2) {
            font-size: x-large;
            font-weight: 600;
        }
        & > p:nth-child(3) {
            font-size: large;
            font-weight: 400;
        }
        & > button {
            background-color: white;
            color: black;
            font-size: small;
            font-weight: 600;
            padding: 1em 1.6em;
            border: none;
            border-radius: 25px;
            transition: 0.6s;
        }
        & > button:hover {
            transform: scale(1.04);
        }
        & > button:active {
            outline: none;
            transform: scale(1);
            transition: 0s;
        }
    }
}


// RESUME PAGE
#resumeSection {
    & > div {
        & > p {
            font-size: 1.4rem;
            font-weight: 600;
        }
        & ul {
            color: white;
        }
        & li {
            color: white;
            font-size: 1.4rem;
            margin: 0.4rem 0;
            list-style-type: none;
            position: relative;
            padding-left: 15px;
        }
        & li:before {
            content: "\25BA \0020";
            font-size: 12px;
            position: absolute;
            top: 7px;
            left: -10px;
          }
        & .heading {
            font-size: 1.6rem;
            text-transform: uppercase;
        }
    }
}